:root {
  --content-height: 500px;
}

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

main {
  height: var(--content-height);
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

button {
  cursor: pointer;
  background-color: #007bff; 
}

#control-panel-wrapper {
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#control-panel {
  flex: 0 0 auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#mood-board {
  flex: 1;
  height: var(--content-height);
  border: 2px dashed grey;
  position: relative;
  overflow: auto;
}

#mood-board img, #mood-board .text-item, .draggable {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
  pointer-events: none;
  font-size: 2rem;
}

#control-panel input[type="text"], button {
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


#control-panel input[type="text"] {
  background-color: #f0f0f0;
  color: black;
}
